@using OST_Inventory.Models;
@using System.Data;
<script>
    //$(document).ready(function () {
    //    $('#txtEntryDate').datepicker();
    //})
</script>

<div id="dvPartialCustomerAssignEntryPanel" style="display:none">
    @using (Html.BeginForm("Dashboard", "Home"))
    {
    <div class="row">
        <div class="col col-sm-2">
            Customer
        </div>
        <div class="col col-sm-4">
            <select name="ddlPartialCustomer">
                <option value="0">--Select--</option>
                @{ 
                    System.Data.DataTable dataTable = (System.Data.DataTable)ViewBag.dtCustEquip;
                    var pdata = (from p in dataTable.AsEnumerable()
                                 select new
                                 {
                                     CustomerID = p.Field<Int32>("CustomerID"),
                                     CustomerName = p.Field<string>("CustomerName"),
                                     CustomerMobile = p.Field<string>("CustomerMobile"),
                                     EquiCount = p.Field<Int32>("EquiCount")
                                 }).ToList();

                    foreach(var obj in pdata)
                    { 
                         <option value="@obj.CustomerID.ToString()">@obj.CustomerName</option>
                    }
                } 
            </select>
        </div>
        <div class="col col-sm-2">
            Select Equipment
        </div>
        <div class="col col-sm-4">
            <select name="ddlPartialEquipment">
                <option value="0">--Select--</option>
                @{
                    List<BaseEquipment> pListData = (List<BaseEquipment>)ViewBag.plstData;//CustomerID 
                    foreach (BaseEquipment obj in pListData)
                    {
                        <option value="@obj.EquipmentID.ToString()">@obj.Name</option>
                    }
                } 
            </select>
        </div>

    </div>
    <div class="row">
        <div class="col col-sm-2">
            Quatity
        </div>
        <div class="col col-sm-4">
            <input type="text" name="txtPartialEquipQuantity" id="txtPartialEquipQuantity" />
        </div>
    </div>
    <div class="row">
        <input type="submit" name="btnSubmit" id="btnPartialSave" value="Save Assignment" />
    </div>
    }

</div> 

