<div id="dvGlobalPartialMsg" style="display:none;">
    <span id="spnGlobalPartialMsg"></span>
    
    <input type="button" value="Redirect to Dashboard" onclick="window.location.href='@Url.Action("Dashboard","Home")'"/>

</div>
